{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>list</title>
<link rel="stylesheet"
	href='{% static "css/bootstrap.min.css" %}'
	type="text/css" />
</head>
<body>
	<div class="container" align="center">
		<h1>Django이용 게시판</h1>
		<h2>list</h2>
		<table class="table">
			<tr>
				<td>제목</td>
				<td>저자</td>
				<td>내용</td>
				<td>날짜</td>
			</tr>
			{% for article in articleList %}<!-- 파이썬코드 jsp의 <%와 유사 -->
			<tr>
				<td><a href="/view/{{article.id}}">{{article.title}}</a></td>
				<td>{{article.name}}</td>
				<td>{{article.contents}}</td>
				<td>{{article.cdate|date:"D d M Y"}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>
